
html, body {margin:0;padding:0;width:100%;height:100%;}

.container,
.box {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.container {
    width:100%;
    height:100%;
    background:black;
    position:relative;
}

.container > div {
    float:left;
}

.menu {
    position:fixed;
    top:0;
    left:0;
}
