
.app-container {
    position:relative;

    .app-header:before {
        position:absolute;
        top:-$app-header-offset;
        left:0;
        width:100%;
        content: '';
        height: $app-header-height;
        background: $app-header-background;
    }

    .app-view {
        position:relative;
        top: $app-header-offset;

    }
}

.navbar-nomargin {
    margin-bottom:0;
}

.fixed-left   { position: fixed; left:0; }
.fixed-right  { position: fixed; right:0; }
.fixed-top    { position: fixed; top:0; }
.fixed-bottom { position: fixed; bottom:0; }
