
.open-button {
    position:fixed;
    bottom:20px;
    right:20px;
    z-index:5;
}

.widgetbar {
    z-index:7;
    position:fixed;
    bottom:0; 
}

.grid{
    padding-top:20px;
    min-height:100vh;
}

.grid.over {
    border:1px dashed grey;
    border-top:none;
}
