<div ng-controller="AdminCtrl">
    <div ng-include src="'partials/navigation.html'"></div>
    <div class="app-view app-header container-fluid">
        <div class="row">
            <div class="well well-lg col-xs-push-1 col-xs-10">
                <h2>Widgets</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-group">
                            <button ng-disabled="installWidgets.disabled" ng-click="installWidgets.run()" class="btn btn-primary btn-sm">Scan for widgets</button>
                        </div>
                        <table class="table table-striped table-hover ">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Directory</th>
                                    <th>Enabled</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="widget in widgets" class="{{widget.disabled == 1 ? 'danger' : ''}}">
                                    <td>{{widget.id}}</td>
                                    <td>{{widget.name}}</td>
                                    <td>{{widget.directory}}</td>
                                    <td><span class="label" ng-class="widget.disabled == '1' ? 'label-danger' : 'label-success'" ng-click="enableWidget(widget.id, widget.disabled)">{{widget.disabled == '1' ? 'disabled' : 'enabled'}}</span></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>
