<div ng-controller="CreatorCtrl" class="container-fluid">
    <div class="row">
        <div ng-show="widgetbar.showing" class="col-xs-10 widgetbar">
            <div class="row">
                <div ng-repeat="widget in widgets" class="col-md-2 widgets widget-1">
                    <p>{{widget.name}}</p>
                </div>
            </div>
        </div>
         <button ng-click="showWidgetBar()" class="col-sm-1 btn btn-fab btn-raised btn-primary open-button">
            <i class="mdi-image-edit"></i>
         </button>
    </div>
</div>
